@font-face {
    font-family: "Xolonium";
    src: url(Xolonium-Regular.otf);
}

html {
    background-color: #000000;
    color: #ddffee;
    font-family: Xolonium, "Input Mono", Roboto, Ubuntu, monospace;
}

a:link {
    color: #00bb67;
}

a:visited {
    color: #009955;
}

a:hover {
    color: hotpink;
}

a:active {
    color: #ffffff;
}

p {
    text-align: center;
    width: 888px;
}

p.rad {
    color: #ba2211;
}

p.menu {
    text-align: center;
    font-size: 200%;
}

span.menu {
    font-size: 200%;
}

div.tech-support {
    font-size: 70%;
}

hr {
    width: 49%;
    border-style: inset;
    border-color: #010101 #114422 #114422 #010101;
    border-width: 1px;
}

p.blurb {
    width: 666px;
    font-size: 85%;
}

span.bold {
    font-weight: bold;
}
